$primaryColor: #D83F87;
$secondaryColor: #b10355;
$triColor: #44318D;
$baseColor: #E98074;
$bgColor: #A4B3B6;
$whiteColor: #ffffff;
$blackColor: #000000;
$border: #cccccc;

$errorColor: #ff4545;
$successColor: #008000;
