<div class="container">
  <div class="row">
    <div class="col-12">
      <app-contact />
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            @for (item of tabBlock.tabs; track item.title; let i=$index;) {
            <li class="nav-item" role="presentation">
              <button class="nav-link" (click)="onTab(i)" [ngClass]="{'active': item.active}" id="home-tab"
                type="button">{{item.title}}</button>
            </li>
            }
          </ul>
          <div class="tab-content p-3">
            @for (item of tabBlock.tabContent; track item.active; let i=$index;) {
            <div class="tab-pane fade" [ngClass]="{'show active': item.active}">
              <div class="row">
                @for (content of item.content; track $index) {
                <div class="col">
                  <div class="card m-3">
                    <a target="_blank" [href]="content.url">
                      {{content.label}}
                    </a>
                    <span [title]="content.info" class="text-info">
                      <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
                } @empty {
                {{noDataFound}}
                }
              </div>
            </div>
            }@empty {
            {{noDataFound}}
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>